@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto';
}

/* utilities */

.btn {
    width: 100px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 800;
    font-size: 16px;
}

.btn-light {
    background-color: #3882F6;
    color: #FFF;
}


/*  Reset default styling  */

a {
    text-decoration: none;
}

button {
    border: none;
}

h1, h2, p, button {
    margin: 10px;
    padding: 5px;
}

img {
    height: auto;
    width: 500px;
    margin-bottom: 50px;
}


/* Heading section */

#main {
    background-color: #1F2937;
    color: #ffffff;
}

.nav-menu {
    display: flex;
    align-items: center;
    /* border: solid 1px red; */
    justify-content: space-between;
}

.center-content {
    max-width: 1300px;
    margin: 0 auto;
}

.nav-menu a {
    margin: 10px;
    padding: 5px;
    color: inherit;
}


/* Hero section */

.hero-section {
    display: flex;
    margin-top: 70px;
}

.hero-section .left h1 {
    font-size: 50px;
    font-weight: bold;
}

/* Information section */

#information {
    background-color:rgb(255, 255, 255);
    color: #000;
    margin: 40px 0;
}

.info-heading {
    margin-top: 40px;
    font-size: 32px;
}

.box {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
}

.info-items {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 30px;
}

.box-subtext-pair {
    text-align: center;
}

/* Testimonials section */

#testimonials {
    background-color: #dedfe2;
}

.quote {
    font-size: 28px;
    margin: 15px auto;
    width: 58%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    line-height: 38px;
    font-style: italic;
}

.author {
    font-weight: 800;
    font-size: 21px;
    font-style: normal;
    align-self: flex-end;
}